* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border: 1px solid blue;

  .nav-logo-search {
    display: flex;
    height: 40px;
    gap: 10px;
    margin-left: 20px;

    svg {
      height: 40px;
      width: 40px;
    }

    .search-box {
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;

      span {
        position: absolute;
        font-size: 1.5rem;
        padding-left: 10px;
      }

      input {
        text-align: center;
        width: 240px;
        height: 100%;
        background-color: #f0f2f5;
        font-size: 1rem;
        border: none;
        border-radius: 25px;
      }
    }
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 200, "GRAD" -25, "opsz" 48;
    font-size: 2.5rem;
  }

  .nav-routes {
    display: flex;

    .nav-home,
    .nav-friends,
    .nav-watch,
    .nav-marketplace,
    .nav-groups {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 8vw;
      max-width: 115px;
      border: 1px solid red;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    height: 100%;
    width: 12vw;
    padding-right: 20px;
    gap: 10px;

    .nav-menu,
    .nav-messenger,
    .nav-notifications,
    .nav-account {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 40px;
      min-width: 40px;
      border-radius: 50%;
      border: 1px solid red;

      .material-symbols-outlined {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 1260px) {
  .nav-searchbox {
    max-width: 40px;
  }

  .nav-searchbox::placeholder {
    opacity: 0;
  }
}
