.friend-post {
  width: 500px;
  height: 850px;
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;

  .top-post {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 10px;

    .friend-prof-pic {
      border-radius: 50%;
    }

    .post-title {
      width: 80%;
    }

    .post-settings {
      display: flex;
      align-items: flex-start;
      width: 35px;
      height: 35px;
      border-radius: 50%;

      &:hover {
        background-color: #f0f2f5;
        cursor: pointer;
      }

      .post-settings-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 7px;
        right: 17px;
        border: none;
        background: none;
        font-size: 1.5rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .post-text {
    width: 100%;
    height: max-content;
    padding: 10px;
  }

  img:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  .post-reactions {
    height: 100px;
    width: 100%;
    margin-top: -5px;

    .post-likes {
      display: flex;
      align-items: center;
      padding: 15px 0 10px 20px;
      border-bottom: 1px solid rgb(222, 222, 222);

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;
        font-size: 18px;
        border-radius: 50%;

        &:hover {
          cursor: pointer;
        }
      }

      .icon-like {
        border-radius: 50%;
        box-shadow: 3px 0px 0px 0px rgb(255, 255, 255);
        z-index: 1;

        .post-icon-like {
          background-color: blue;
          color: white;
        }
      }

      .post-icon-heart {
        background-color: red;
        color: white;
      }

      .friend-likes {
        padding-left: 10px;
      }
    }

    .post-like-comment {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 50px;
      border-bottom: 1px solid rgb(222, 222, 222);

      .post-like,
      .post-comment {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 45%;
        height: 70%;
        border-radius: 10px;

        &:hover {
          cursor: pointer;
          background-color: #f0f2f5;
        }
      }
    }
  }
}
